:root{
    --blueText: #acd5f2;
    --blueButton: #3db4f2;
    --bluegrayText: #5c728a;
    --lightblueBG: #edf1f5;
    --grayText: #99998f;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.invisible{
    display: none;
}
body{
    background-color: #f0f0f0;
    font-family: Lucida Calligraphy;
}
.navbar{
    display: flex;
    height: 100px;
    width: 100vw;
    align-items: center;
    background-color: black;
    margin-bottom: 50px;
}
.navbar img{
    margin-right: 30px;
}
.navbar h1{
    font-size: 50px;
    color: white;
}
.navbar #yellow{
    display: inline;
    color: #ffb91d;
}
.cart{
    position: absolute;
    right: 50px;
}
.cart path{
    fill: white;
}
.cart path:hover{
    fill: #ffb91d;
}
.main-container{
    width: 65vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    overflow-y: hidden;
}
.books{
    position: relative;
    float: left;
    flex-direction: column;
    width: 12vw;
    height: 400px;
    padding: 15px 30px;
    margin: 1px;
    background-color: white;
    color: black;
}
.books p{
    font-weight: 700;
}
.books .details{
    position: absolute;
    bottom: 25px;
}
a{
    text-decoration: none;
}
.books:hover{
    background-color: #f0f0f0;
}
.books img{
    width: 100%;
}
footer{
    position: relative;
    bottom: 0;
    background-color: black;
    height: 300px;
    width: 100%;
    color: white;
    font-family: Lucida Sans;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
footer .one{
    margin-right: 400px;
}
footer .two{
    margin-right: 100px;
}
footer .three{
    margin-right: -200px;
}
footer p{
    color: var(--grayText);
    font-weight: 900;
}
footer .one p:hover{
    color: #f0f0f0;
    cursor: pointer;
}
footer svg{
    width: 30px;
    height: 30px;
}
footer path{
    fill: var(--grayText);
}
footer svg:hover{
    filter: brightness(100);
    cursor: pointer;
}
footer input{
    height: 50px;
    width: 200px;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    border: none;
    color: white;
    background-color: #1a1a1a;
}
footer input:focus{
    outline: none
}
footer input::placeholder{
    font-weight: 900;
}
footer .submit{
    position: absolute;
    float: right;
    width: 50px;
    height: 50px;
    background-color: #d5222e;
    padding: 10px;
    padding-left: 15px;
    padding-top: 12px;
    overflow: hidden;
    right: 289px;
    bottom: 124px;
}
footer .submit path{
    fill: white;
}
footer .submit:hover{
    background-color: #ac1c25;
    transition: .5s;
}

.icon{
    float: left;
    transition: .5s;
}
.icon:hover{
    box-shadow: 0 0 25px #ffb91d;
    transition: .5s;
    cursor: pointer;
}
.product-details{
    float: left;
    margin-left: 150px;
}
.product-details h1{
    font-weight: 900;
    width: 100%;
}
.product-details p{
    font-weight: 700;
    color: #666;
    font-family: Arial;
}
hr{
    margin: 25px 0;
    border-top: 1px solid #cacaca;
}
.quantity input[type=button]{
    color: gray;
}
.quantity input{
    text-align: center;
    width: 30px;
    height: 50px;
    border: none;
    background-color: #f4f4f4;
    border: 1px solid #e7e7e7;
    font-weight: 700;
}
.quantity input[type=button]:hover{
    background-color: #e7e7e7;
}
input[type=button]{
    cursor: pointer;
}
input:focus{
    outline: none;
}

.addtocart{
    height: 100%;
    border: 1px solid  #ffb91d;
    border-radius: 5px;
    color: #ffb91d;
    background-color: white;
    padding: 20px 50px;
    text-align: center;
    margin-top: 20px;
    font-weight: 900;
    transition: .5s;
    width: 100%;
}
.addtocart:hover{
    transition: .5s;
    border: 1px solid #f9ae00;
    cursor: pointer;
    color: #f9ae00;
}
.buynow{
    height: 100%;
    background-color: #ffb91d;
    border-radius: 5px;
    color: white;
    padding: 20px 50px;
    text-align: center;
    margin-top: 20px;
    font-weight: 900;
    transition: .5s;
    width: 100%;
    border: none;
}
.buynow:hover{
    transition: .5s;
    background-color: #f9ae00;
    cursor: pointer;
}

.synopsis{
    position: absolute;
    margin-top: 80px;
    width: 34%;
    font-weight: normal;
    color: #666;
    font-family: 'Libre Baskerville', serif;
}

.product{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: white;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    overflow: hidden;
}
.product img{
    width: 8%;
}
.product .cart-details{
    position: relative;
    display: inline-block;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-left: 50px;
    margin-top: 15px;
}
.cart-details h4{
    font-size: 22px;
}
.cart-details p{
    font-weight: 700;
    font-family: Arial;
    color: gray;
}
.price{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 20%;
    margin-left: px;
}
.price p{
    font-family: Arial;
    font-weight: 700;
    color: gray;
    position: absolute;
    right: 0;
    top: 50%;
}
.price .currency{
    right: 55px;
}
.total{
    margin-top: 25px;
    position: relative;
    height: auto;
    width: auto;
    overflow: hidden;
    float: right;
}
.total p{
    font-family: Arial;
    font-weight: 700;
    font-size: 25px;
}